

    <div class=row style="background-color: #333;">
        <div class=col-md-5  >
            <img src="././assets/images/large-movie2.jpg" alt="" style="height:647px;width:640px;margin-right: 0;border:2px solid;border-color: aliceblue;">
        </div>
        <div class="col-md-7" >
            <h1 style="margin-top:80px;margin-left: 320px;color: white; font-size: 3rem;
            font-weight: 800;
            padding-bottom: .3rem;">LUCIFER</h1>
            <br><br><br>
            <p style="color: white;margin-left: 110px;margin-right: 10px;">Bored with being the Lord of Hell, the devil relocates to Los Angeles, where he opens a nightclub and forms a connection with a homicide detective.</p>
            <h3 style="color: white;margin-left: 350px;margin-top: 70px;"> IMDB : 8.1</h3>
            <button type="button" class="btn btn-danger" style="padding: 7px 10px 7px 10px;margin-left: 400px;margin-top: 40px;">Play</button>
        </div>
    </div>