
    <div class=row style="background-color: #333;">
        <div class=col-md-5  >
            <img src="././assets/images/small-movie4.jpg" alt="" style="height:647px;width:640px;margin-right: 0;border:2px solid;border-color: aliceblue;">
        </div>
        <div class="col-md-7" >
            <h1 style="margin-top:80px;margin-left: 280px;color: white; font-size: 3rem;
            font-weight: 800;
            padding-bottom: .3rem;">MEGAMIND</h1>
            <br><br><br>
            <p style="color: white;margin-left: 110px;margin-right: 10px;">In this hilarious twist on the superhero movie, super villain Megamind's (Will Ferrell) dreams have come true when he conquers the city's protector, Metro Man (Brad Pitt), gaining control of Metro City. </p>
            <h3 style="color: white;margin-left: 350px;margin-top: 70px;"> IMDB : 8.7</h3>
            <button type="button" class="btn btn-danger" style="padding: 7px 10px 7px 10px;margin-left: 400px;margin-top: 40px;">Play</button>
        </div>
    </div>