
<div class="row">
    <h2>NETFLIX ORIGINALS</h2>
    <div class="row_posters">
            

        <a href="/netflix/main/lmovie1" ><img src="././assets/images/large-movie1.jpg" alt="" class="img_poster"/></a>
        <a href="/netflix/main/lmovie2"><img src="././assets/images/large-movie2.jpg" alt="" class="img_poster" /></a>
        <a href="/netflix/main/lmovie2"><img src="././assets/images/large-movie2.jpg" alt="" class="img_poster" /></a>
        <a href="/netflix/main/lmovie3"><img src="././assets/images/large-movie3.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie4"><img src="././assets/images/large-movie4.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie5"><img src="././assets/images/large-movie5.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie6"><img src="././assets/images/large-movie6.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie7"><img src="././assets/images/large-movie7.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie8"><img src="././assets/images/large-movie8.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie1"><img src="././assets/images/large-movie1.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie2"><img src="././assets/images/large-movie2.jpg" alt="" class="img_poster" /></a>
        <a href="/netflix/main/lmovie3"><img src="././assets/images/large-movie3.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie4"><img src="././assets/images/large-movie4.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie5"><img src="././assets/images/large-movie5.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie6"><img src="././assets/images/large-movie6.jpg" alt="" class="img_poster" /></a>
        <a href="/netflix/main/lmovie7"><img src="././assets/images/large-movie7.jpg" alt="" class="img_poster " /></a>
        <a href="/netflix/main/lmovie8"><img src="././assets/images/large-movie8.jpg" alt="" class="img_poster " /></a>
    </div>
</div>
   
<div class="row">
    <h2>Trending Now</h2>
    <div class="rowposters">
        <a href="/netflix/main/smovie1"><img src="././assets/images/small-movie1.jpg" alt="" class="simg_poster " /></a>
        <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
        <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
        <a href="/netflix/main/smovie4"><img src="././assets/images/small-movie4.jpg" alt="" class="simg_poster" /></a>
        <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
        <a href="/netflix/main/smovie6"><img src="././assets/images/small-movie6.jpg" alt="" class="simg_poster " /></a>
        <a href="/netflix/main/smovie7"><img src="././assets/images/small-movie7.jpg" alt="" class="simg_poster " /></a>
        
    </div>
    </div>

<div class="row">
        <h2>Top rated</h2>
        <div class="rowposters">
            <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie4"><img src="././assets/images/small-movie4.jpg" alt="" class="simg_poster" /></a>
            <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie6"><img src="././assets/images/small-movie6.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie7"><img src="././assets/images/small-movie7.jpg" alt="" class="simg_poster " /></a>
            <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
        </div>
    </div>

<div class="row">
            <h2>Action movie</h2>
            <div class="rowposters">

                
                <a href="/netflix/main/smovie4"><img src="././assets/images/small-movie4.jpg" alt="" class="simg_poster" /></a>
                <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
                <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
                <a href="/netflix/main/smovie7"><img src="././assets/images/small-movie7.jpg" alt="" class="simg_poster " /></a>
                <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
                <a href="/netflix/main/smovie1"><img src="././assets/images/small-movie1.jpg" alt="" class="simg_poster " /></a>
                <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
                
                
            </div>
    </div>

<div class="row">
                <h2>Comedy movies</h2>
                <div class="rowposters">
                    
                    <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie6"><img src="././assets/images/small-movie6.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie1"><img src="././assets/images/small-movie1.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
                    <a href="/netflix/main/smovie7"><img src="././assets/images/small-movie7.jpg" alt="" class="simg_poster " /></a>
                   
                   
                </div>
    </div>
        
<div class="row">
                    <h2>Horror movie</h2>
                    <div class="rowposters">
                        <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
                        <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
                        <a href="/netflix/main/smovie1"><img src="././assets/images/small-movie1.jpg" alt="" class="simg_poster " /></a>
                        <a href="/netflix/main/smovie6"><img src="././assets/images/small-movie6.jpg" alt="" class="simg_poster " /></a>
                        <a href="/netflix/main/smovie4"><img src="././assets/images/small-movie4.jpg" alt="" class="simg_poster" /></a>
                        <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
             
                        <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
                        
            
                    </div>
    </div>

<div class="row">
  <h2>Romantic movie</h2>
  <div class="rowposters">
    <a href="/netflix/main/smovie1"><img src="././assets/images/small-movie1.jpg" alt="" class="simg_poster " /></a>
    
    <a href="/netflix/main/smovie3"><img src="././assets/images/small-movie3.jpg" alt="" class="simg_poster " /></a>
    <a href="/netflix/main/smovie4"><img src="././assets/images/small-movie4.jpg" alt="" class="simg_poster" /></a>
    <a href="/netflix/main/smovie5"><img src="././assets/images/small-movie5.jpg" alt="" class="simg_poster " /></a>
    <a href="/netflix/main/smovie6"><img src="././assets/images/small-movie6.jpg" alt="" class="simg_poster " /></a>
    
    <a href="/netflix/main/smovie8"><img src="././assets/images/small-movie8.jpg" alt="" class="simg_poster " /></a>
    
    <a href="/netflix/main/smovie2"><img src="././assets/images/small-movie2.jpg" alt="" class="simg_poster " /></a>
   
  </div>
    </div>

