

    <div class=row style="background-color: #333;">
        <div class=col-md-5  >
            <img src="././assets/images/large-movie4.jpg" alt="" style="height:647px;width:640px;margin-right: 0;border:2px solid;border-color: aliceblue;">
        </div>
        <div class="col-md-7" >
            <h1 style="margin-top:80px;margin-left: 190px;color: white; font-size: 3rem;
            font-weight: 800;
            padding-bottom: .3rem;">WHO KILLED SARA?</h1>
            <br><br><br>
            <p style="color: white;margin-left: 110px;margin-right: 10px;">Hell-bent on exacting revenge and proving he was framed for his sister's murder, Álex sets out to unearth much more than the crime's real culprit. </p>
            <h3 style="color: white;margin-left: 350px;margin-top: 70px;"> IMDB : 8.7</h3>
            <button type="button" class="btn btn-danger" style="padding: 7px 10px 7px 10px;margin-left: 400px;margin-top: 40px;">Play</button>
        </div>
    </div>